# Índice de tabelas

| Escopo | Tabela | Completude | Total de linhas |
|---|---|---|---|
{% for tabela in tabelas %}
| {{ tabela.nome_escopo }} | [{{ tabela.nome_tabela }}]({{ tabela.nome_escopo }}/{{ tabela.nome_tabela }}.md) | {{ tabela | completude }} | {{ tabela.total_linhas }} |
{% endfor %}

---

*Gerado em: {{ gerado_em }}*
